<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Weather Forecast", root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= form_with url: "/search", method: :get, class: "d-flex" do |form| %>
        <%= form.text_field :location, class: "form-control me-2", pattern: ".{3,}", title: "Please enter at least 3 characters" %>
        <%= form.submit "Search", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>
